body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h4 {
  font-family: 'Poppins', sans-serif;
}

main {
  width: 95%;
  margin: auto;
}

.hover-underline-pointer:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}


@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center; 
  }
.search-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}
.search-section > span{
  padding-bottom: 22px;
  padding-left: 2px;
}
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}